@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }

    .employees-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .empl-item {
        width: calc((100%-72px) / 4);
    }

    .customers-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .hero-text {
        font-size: 56px;
    }

    .wrapper {
        padding: 188px 472px;
        max-width: 1440px;
        max-height: 600px;
    }
}