@media screen and (min-width: 480px) {
    
    .container {
        max-width: 428px;
        margin: 0;
    }

    .employees-section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    
    .about {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .wrapper {
        padding: 122px 54px 240px 54px;
    }

    .hero-text {  
        font-size: 36px;
    }
}
