body {
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:root {
    --brand-color: #2E2F42;
    --color-link: #4D5AE5;
    --ocean: #404BBF;
    --color-text: #E7E9FC;
    --hero-title-text-color: #ffffff;
    --description-tel-mail-color: #434455;
    --bg-btn-foot-color: #f4f4fd;
    --success-color: #31D0AA;
    --secondaty-font: 'Raleway', sans-serif;
    --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    color: var(--brand-color);
    transition: color var(--transition-duration);
}

.link:hover, 
.link:focus {
    color: var(--color-link);
}

a, li {
    list-style-type: none;
    text-decoration: none;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 2px solid white; */
}

.section {
    padding: 120px 0;
}

.header {
    color: var(--hero-title-text-color);
    background-color: var(--hero-title-text-color);
    border-bottom: 1px solid var(--color-text);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: color var(--transition-duration),;
}

.header:hover {
    color: var(--color-link);
}

.header .container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.email-tel-position {
    display: flex;
    flex-direction: row-reverse;  
}

.logo-link-header {
    font-weight: 800;
    line-height: 1.17;  
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: var(--brand-color);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 0;
} 

.logo-color {
    color: var(--color-link);
    list-style: none;
    text-decoration: none;
}

/* --- HEADER ---  */
.header-list {
    margin-left: 76px;
    display: flex;
    flex-direction: row;    
    gap: 40px;   
}

.header-item {
    list-style: none;
    text-decoration: none;
}

.header-contact {
    display: flex;
    margin-left: auto;
    gap: 40px;   
}

.contact-item:not(:first-child) {
    margin-left: 40px;
}

.item-nav {
    position: relative;
    font-weight: 500;
    list-style: none;
    padding: 24px 0;
}

.item-nav.active {
    color: var(--ocean);
}

.item-nav.active::after {
    content: "";

    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--ocean);
    border-radius: 2px;
    bottom: -3px;
}

.mail-tel {
    font-style: normal;
    color: var(--description-tel-mail-color);
    gap: 40px;
    padding: 24px 0;
    transition: color var(--transition-duration);
}

.mail-tel:hover {
    color: var(--color-link);
}

/* --- HERO SECTION ---  */
.wrapper {
    padding: 188px 0;
    background-color: #434455;
    background-image:  linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
     ),
       url(../images/peopleoffice.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text {
    margin-bottom: 48px;
    max-width: 496px;
    text-align: center;  
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--color-text)
}

.hero-button {
    background: var(--color-link);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--hero-title-text-color);
    cursor: pointer;
    transition: background var(--transition-duration);
}

.hero-text-btn {
    color: #FFFFFF;
    font-family:  inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

/* --- ABOUT SECTION ---  */
.about {
    padding-bottom: 0;
}
  
.about-list {
    display: flex;
    gap: 24px;
}

.about-item {
    width: calc((100%-72px) / 4);

}

.about-item::before {
    display: block;
    content: "";

    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
        /* outline: 1px solid red; */
}

.about-item:nth-child(1)::before {
    background-image: url(../images/icons.svg/optimize/antenna.svg);
}

.about-item:nth-child(2)::before {
    background-image: url(../images/icons.svg/optimize/clock.svg);
}

.about-item:nth-child(3)::before {
    background-image: url(../images/icons.svg/optimize/diagram.svg);
}

.about-item:nth-child(4)::before {
    background-image: url(../images/icons.svg/optimize/astronaut.svg);
}

.about-name {
    color: var(--brand-color);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 0.83;
    letter-spacing: 0.02em;
    margin-top: 8px;
}

.about-name-text {
    color: var(--description-tel-mail-color);
    font-weight: 400;
} 

/* ---  WORKING  --- */
.what-section {
    text-align: center;
    color: var(--brand-color);
}

.section-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--brand-color);
}

.working-list {
    display: flex;
    gap: 24px;
}

.working-item {
    width: calc((100%-48px) / 3);
    max-width: 360px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.working-list .container {
    background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    );
    background-blend-mode: soft-light, normal;
    border: 1px solid var(--primary-border-color);
}

/* ---  EMPLOYEES SECTION  --- */
.employees-section {
    background-color: var(--bg-btn-foot-color);
}

.empl-content-p {
    margin-bottom: 8px;
}

.name-empl {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.empl-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-icon-list {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.team-sicial-item {
	width: 40px;
	height: 40px;
}

.empl-content {
	text-align: center;
	padding: 32px 0;
    background: #FFFFFF;
}

.empl-item {
	width: calc((100%-72px) / 4);
	max-width: 264px;
	background: var(--primary-bg-color);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.team-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--color-link);
    transition: background-color var(--transition-duration);
}

.team-social-link:hover,
.team-social-link:focus {
	background-color: var(--ocean);
}

/* ---  Customers SECTION  --- */
.customers-section {
    padding-top: 130px;
    /* outline: 4px solid orange; */
}

.customers-list {
	display: flex;
	gap: 24px;
        /* outline: 4px solid violet; */
}

.customers-item {
	width: 168px;
	height: 88px;
        /* outline: 4px solid orange; */
}

.customers-link {
	color: #8e8f99;
	border: 1px solid #8e8f99;
	border-radius: 4px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    transition: border-color var(--transition-duration), 
        color var(--transition-duration);
}

.customers-link:is(:hover, :focus) {
	border-color: var(--ocean);
	color: var(--ocean);
}

.customers-icon {
	fill: currentColor;
}

/* ---  FOOTER SECTION  --- */

.footer-social-list {
	display: flex;
	gap: 16px;
}

.footer-sicial-item {
	width: 40px;
	height: 40px;
}

.footer-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration);
}

.footer-social-link:focus,
.footer-social-link:hover {
	background-color: var(--success-color);
}

.footer-block {
    background: var(--brand-color);
    padding: 100px 0;
}

.cont-footer-logo {
    margin-right: 120px;
    /* outline: 4px solid green; */
} 

.footer-text { 
    color: var(--color-text); 
    max-width: 264px; 
}

.social-text {
    font-family: inherit;
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.icon {  
    background: rgba(255, 255, 255, 0.1);
    display: inline-block;
    content: "";
    height: 40px;
    width: 40px;
    border-radius: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
        /* outline: 1px solid yellow; */
}

.logo-color-down {
    color: #F4F4FD;
}

.logo-footer {
padding: 0;
margin-bottom: 16px;
}

.footer-container{ 
    display: flex; 
    gap: 120px; 
}

.form-group {
    position: inherit;
    Width: 453px;
    Height: 80px;
    /* outline: 2px solid salmon; */
}

.for-label .subscribe-label {
    width: 264px;
    height: 40px;
    background-color: var(--brand-color);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

.subscribe-label {
    color: #FFFFFF;
    resize: none;
    padding-left: 16px;
    border: 1px solid var(--hero-title-text-color);
}

.form-input .subscribe-label{
    color: var(--hero-title-text-color);
}

.subscribe-label::placeholder {
    color: var(--hero-title-text-color);
}

.subscribe-btn {
    /* position: absolute; */
    min-width: 165px;
    max-height: 40px;
    text-decoration: none;
    display: inline-flex;
    background-color: var(--color-link);
    align-items: center;
    margin-left: 24px;
}

.subscribe-btn::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 20px;
    background-image: url(../images/icons.svg/send.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.subscribe-container {
    display: flex;

    /* outline: 2px solid yellow; */
}

/* ---  BTN SECTION  --- */
.btn-section {
    padding-top: 96px;
    justify-content: center;
    gap: 24px;
}

.btn-list {
    display: flex;
    justify-content: center;
    gap: 24px; 
    margin-bottom: 72px;
}

.btn {
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    justify-content: center;
    gap: 16px;
    transition: background-color var(--transition-duration);
}

.modal-btn {
    background: #F4F4FD;
    color: var(--color-link);
    border: 1px solid #e7e9fc;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    transition: color var(--transition-duration),
        background var(--transition-duration),
        border-color var(--transition-duration),
        box-shadow var(--transition-duration);
    border-radius: 4px;
    cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
    background: var(--color-link);
    color: var(--color-text);
    border-color: var(--color-link);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 2px 1px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12); 
}

.btn:hover,
.btn:focus {   
    background-color: var(--ocean);
}

/* ---  IMG SECTION  --- */
.img-sect-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    column-gap: 24px;
}

.img-list{
    width: calc((100%-48px) / 3);
    max-width: 360px;
    display: block;
}

.img-list .text {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.img-sect-link {
    display: block;
    transition: box-shadow var(--transition-duration);
}

.img-sect-link:is(:hover,:focus){
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-text-large {
    color: var(--brand-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text-small {
    color: #434455; 
}

.img-sect-link:hover .overlay,
.img-sect-link:focus .overlay {
    transform: translate(0, 0);
}

.overlay {
    position: absolute;
    background-color: var(--color-link);
    color: var(--bg-btn-foot-color);
    left: 0;
    top: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding-top: 40px;
    padding-left: 32px;
    padding-bottom: 164px;
    padding-right: 32px;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: transform var(--transition-duration);
}

.img-overlay-cont {
    position: relative;
    overflow: hidden;
}

.img {
    width: 360px;
    height: 300px;
}

/* MODAL WINDOW  */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-duration),
                visibility var(--transition-duration);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 24px;
    padding-top: 72px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 584px;
    background-color: #FCFCFC;
}

.modal-close-btn {
    position: absolute;
    display: flex; 
    align-items: center; 
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%; 
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer; 
    transition: background-color var(--transition-duration);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--ocean);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--hero-title-text-color);
}
.modal-close-btn-icon {
    transition: fill var(--transition-duration);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.for-label {
    display: block;
    position: relative;
    margin: 0;
    margin-bottom: 8px;
}

.for-label:last-child {
    margin-bottom: 0;
  }
  
.footer-label {
    border-color: #FFFFFF;
    margin: 0;
}

.form-control {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.form-input {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    padding-left: 38px;
    transition: border-color var(--transition-duration);
}

.form-input:focus + .form-icon {
    color: var(--color-link);
}

.form-input:focus {
    border-color: #4D5AE5;
}

.form-icon:focus,
.form-icon:hover {
    fill: var(--color-link);
}

.form-btn {
    display: block;
    width: 169px;
    height: 56px;
    background: var(--color-link);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 100px;
    margin: 0 auto;
}

.form-input::placeholder {
    color: rgba(46, 47, 66, 0.4);
    letter-spacing: 0.04em;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.comment {
    display: block;
    width: 360px;
    min-height: 120px;
    resize: none;
    padding-top: 8px;
    padding-left: 16px;
}

.for-label-policy {
    display: flex;
    color: #8E8F99;
    letter-spacing: 0.04em;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 4px;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;
}

.for-label-policy::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid var(--brand-color);
    border-radius: 4px;
    margin-right: 8px;
    transition: background-color var(--transition-duration), 
                border-color var(--transition-duration);
}

.form-check:checked + .for-label-policy::before {
    background-color: var(--color-link);
    border-color: var(--color-link);
    background-image: url(../images/icons.svg/galka.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.form-icon {
    position: absolute;
    top: 70%;
    left: 19px;
    fill: currentColor;
    transition: color var(--transition-duration);
    transform: translateY(-70%);
}

.accept {
    display: block;
}

.policy {
    text-decoration: underline;
    padding-left: 4px;
}
