@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

    .employees-section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .about {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .about-item {
        width: 356px;
    }

    .wrapper {
        padding: 112px 136px;
        background-image:  linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
         ),
           url(../images/Dark-bg-tablet.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .wrapper {
            background-image:  linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
             ),
               url(../images/Dark-bg-tablet-2x.jpg);
        }
    }

    .hero-text {
        font-size: 56px;
    }

    .header-list {
        margin-left: 76px;
        display: flex;
        flex-direction: row;    
        gap: 40px;   
    }
 
    .header-item {
        list-style: none;
        text-decoration: none;
    }
    
    .header-contact {
        display: flex;
        margin-left: auto;
        gap: 40px;   
    }
    
    .customers-section {
        padding-top: 96px;
        padding-bottom: 96px;
    }




}

