@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

    .employees-section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .about {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .about-item {
        width: 356px;
    }

    .wrapper {
        padding: 112px 136px;
        background-image:  linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
         ),
           url(../images/Dark-bg-tablet.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .wrapper {
            background-image:  linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
             ),
               url(../images/Dark-bg-tablet-2x.jpg);
        }
    }

    .hero-text {
        font-size: 56px;
    }

    .header-list {
        margin-left: 76px;
        display: flex;
        flex-direction: row;    
        gap: 40px;   
    }
 
    .header-item {
        list-style: none;
        text-decoration: none;
    }
    
    .header-item:not(:last-child) {    
        margin-bottom: 0;
    }
    .header-contact {
        display: flex;
        margin-left: auto;
        gap: 40px;   
    }
    .contact-item:not(:first-child) {
        margin-left: 40px;
    }
    
    .item-nav {
        position: relative;
        font-weight: 500;
        list-style: none;
        padding: 24px 0;
    }
    
    .item-nav.active {
        color: var(--ocean);
    }
    
    .item-nav.active::after {
        content: "";
    
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--ocean);
        border-radius: 2px;
        bottom: -3px;
    }
    
    .mail-tel {
        font-style: normal;
        color: var(--description-tel-mail-color);
        gap: 40px;
        padding: 24px 0;
        transition: color var(--transition-duration);
    }
    
    .mail-tel:hover {
        color: var(--color-link);
    }

    .header-nav-wrap {
        background-color: transparent;
        max-width: unset;
        height: unset;
        position: static;
    }

    .header-btn-mobile-close {
        display: none;
    } 
    .customers-section {
        padding-top: 96px;
        padding-bottom: 96px;
    }




}

