@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

    .employees-section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .about {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .about-item {
        width: 356px;
    }

    .wrapper {
        padding: 112px 136px;
        background-image:  linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
         ),
           url(../images/Dark-bg-tab.jpg);
    }

    .hero-text {
        font-size: 56px;
    }

    .customers-section {
        padding-top: 96px;
        padding-bottom: 96px;
    }




}

